## Desafio: Transformar alguns dados com objetivo de melhorar a **análise** e gerar **insights**

In [1]:
import pandas as pd

In [18]:
# ler arquivo "banco_clientes.csv" e gerar um dataframe 

df = pd.read_csv('../data/banco_clientes.csv')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   nome      21 non-null     object
 1   endereco  21 non-null     object
 2   telefone  21 non-null     object
dtypes: object(3)
memory usage: 632.0+ bytes

In [21]:
df

                 nome                               endereco         telefone
0        PAULO HAMMER        Rua 22 de Abril, 52614-524 1234    11 99548-2578
1      JONAS DA SILVA    Rua Alvarenga Borges, 573 29285-678    11 99999-1234
2        MARIA SANTOS         Av. Bom Sucesso 1283 87654-321    11 98765-4321
3   PEDRO ALBUQUERQUE             Rua Colombo, 789 45678-912    11 91234-5678
4        ANA OLIVEIRA          Rua Dinamarca, 1011 34567-890    11 99876-5432
5      JOSÉ FERNANDES            Av. Ermeson, 23456-789 1213  (11) 97654-3210
6     MARIANA CASTRO            Rua das Flores, 15 56789-123    11 95555-6789
7         LUCAS SOUZA         Av. Governador, 1617 67890-234    11 94444-5678
8        CARLA SANTOS         Rua Helio Gracie, 19 78901-345    11 93333-4567
9      FELIPE MARTINS      Av. 28 de Novembro, 221 89012-456  (11) 92222-7890
10     AMANDA PEREIRA                Rua Joana 423 90123-567    11 91111-2345
11       RAFAELA LIMA              Av. Brasil, 245 01234-567  (11) 90000-5678
12      EDUARDO SILVA        Rua do Lamparao, 2627 12345-678  (11) 98888-9012
13  GUSTAVO RODRIGUES       Rua do Chuvisco , 2829 23456-789  (11) 97777-2345
14     FERNANDA COSTA           Av. Goytacaz, 3031 34567-890    11 96666-5678
15      RENATO SANTOS        Av. Areia Negra, 45678-912 3233  (11) 95555-9012
16    LETÍCIA RIBEIRO      Rua das Palmeiras, 3435 56789-123    11 94444-2345
17        MARIA SILVA              Av. Oliva, 3637 67890-234  (11) 93333-5678
18   ISABELA OLIVEIRA               Rua Peri , 339 78901-345    11 92222-9012
19        BRUNO COSTA           Av. Balestrin 1337 89012-456    11 91111-2345
20     VANESSA SANTOS  Rua Nicolau Copérnico, 90123-567 1543  (11) 90000-5678

# Por o nome em LETRA MAIUSCULA

In [22]:
df['nome'] = df['nome'].str.upper()
df.head()

                nome                             endereco       telefone
0       PAULO HAMMER      Rua 22 de Abril, 52614-524 1234  11 99548-2578
1     JONAS DA SILVA  Rua Alvarenga Borges, 573 29285-678  11 99999-1234
2       MARIA SANTOS       Av. Bom Sucesso 1283 87654-321  11 98765-4321
3  PEDRO ALBUQUERQUE           Rua Colombo, 789 45678-912  11 91234-5678
4       ANA OLIVEIRA        Rua Dinamarca, 1011 34567-890  11 99876-5432

# Padronizar a coluna telefone

* Remover os parenteses do dado telefone.
* Formato: dd ddddd-dddd

In [36]:
df.telefone.str.replace('(', '', regex=False)

0      11 99548-2578
1      11 99999-1234
2      11 98765-4321
3      11 91234-5678
4      11 99876-5432
5     11) 97654-3210
6      11 95555-6789
7      11 94444-5678
8      11 93333-4567
9     11) 92222-7890
10     11 91111-2345
11    11) 90000-5678
12    11) 98888-9012
13    11) 97777-2345
14     11 96666-5678
15    11) 95555-9012
16     11 94444-2345
17    11) 93333-5678
18     11 92222-9012
19     11 91111-2345
20    11) 90000-5678
Name: telefone, dtype: object

In [44]:
# remove o '(' 
# .str.replace('(', '', regex=False)

# remove o ')
# .str.replace(')', '', regex=False)

df['telefone'].str.replace('(', '', regex=False).str.replace(')', '', regex=False)

0     11 99548-2578
1     11 99999-1234
2     11 98765-4321
3     11 91234-5678
4     11 99876-5432
5     11 97654-3210
6     11 95555-6789
7     11 94444-5678
8     11 93333-4567
9     11 92222-7890
10    11 91111-2345
11    11 90000-5678
12    11 98888-9012
13    11 97777-2345
14    11 96666-5678
15    11 95555-9012
16    11 94444-2345
17    11 93333-5678
18    11 92222-9012
19    11 91111-2345
20    11 90000-5678
Name: telefone, dtype: object

In [43]:
df['telefone'] = df['telefone'].str.replace('(', '', regex=False).str.replace(')', '', regex=False)
df

                 nome                               endereco       telefone
0        PAULO HAMMER        Rua 22 de Abril, 52614-524 1234  11 99548-2578
1      JONAS DA SILVA    Rua Alvarenga Borges, 573 29285-678  11 99999-1234
2        MARIA SANTOS         Av. Bom Sucesso 1283 87654-321  11 98765-4321
3   PEDRO ALBUQUERQUE             Rua Colombo, 789 45678-912  11 91234-5678
4        ANA OLIVEIRA          Rua Dinamarca, 1011 34567-890  11 99876-5432
5      JOSÉ FERNANDES            Av. Ermeson, 23456-789 1213  11 97654-3210
6     MARIANA CASTRO            Rua das Flores, 15 56789-123  11 95555-6789
7         LUCAS SOUZA         Av. Governador, 1617 67890-234  11 94444-5678
8        CARLA SANTOS         Rua Helio Gracie, 19 78901-345  11 93333-4567
9      FELIPE MARTINS      Av. 28 de Novembro, 221 89012-456  11 92222-7890
10     AMANDA PEREIRA                Rua Joana 423 90123-567  11 91111-2345
11       RAFAELA LIMA              Av. Brasil, 245 01234-567  11 90000-5678
12      EDUARDO SILVA        Rua do Lamparao, 2627 12345-678  11 98888-9012
13  GUSTAVO RODRIGUES       Rua do Chuvisco , 2829 23456-789  11 97777-2345
14     FERNANDA COSTA           Av. Goytacaz, 3031 34567-890  11 96666-5678
15      RENATO SANTOS        Av. Areia Negra, 45678-912 3233  11 95555-9012
16    LETÍCIA RIBEIRO      Rua das Palmeiras, 3435 56789-123  11 94444-2345
17        MARIA SILVA              Av. Oliva, 3637 67890-234  11 93333-5678
18   ISABELA OLIVEIRA               Rua Peri , 339 78901-345  11 92222-9012
19        BRUNO COSTA           Av. Balestrin 1337 89012-456  11 91111-2345
20     VANESSA SANTOS  Rua Nicolau Copérnico, 90123-567 1543  11 90000-5678

# Adiciona uma coluna CEP no dataframe

In [48]:
df.endereco.str.extract('(\d{5}-\d{3})')

            0
0   52614-524
1   29285-678
2   87654-321
3   45678-912
4   34567-890
5   23456-789
6   56789-123
7   67890-234
8   78901-345
9   89012-456
10  90123-567
11  01234-567
12  12345-678
13  23456-789
14  34567-890
15  45678-912
16  56789-123
17  67890-234
18  78901-345
19  89012-456
20  90123-567

In [49]:
df['cep'] = df.endereco.str.extract('(\d{5}-\d{3})')
df

,nome,endereco,telefone,cep
0,PAULO HAMMER,"Rua 22 de Abril, 52614-524 1234",11 99548-2578,52614-524
1,JONAS DA SILVA,"Rua Alvarenga Borges, 573 29285-678",11 99999-1234,29285-678
2,MARIA SANTOS,Av. Bom Sucesso 1283 87654-321,11 98765-4321,87654-321
3,PEDRO ALBUQUERQUE,"Rua Colombo, 789 45678-912",11 91234-5678,45678-912
4,ANA OLIVEIRA,"Rua Dinamarca, 1011 34567-890",11 99876-5432,34567-890
5,JOSÉ FERNANDES,"Av. Ermeson, 23456-789 1213",11 97654-3210,23456-789
6,MARIANA CASTRO,"Rua das Flores, 15 56789-123",11 95555-6789,56789-123
7,LUCAS SOUZA,"Av. Governador, 1617 67890-234",11 94444-5678,67890-234
8,CARLA SANTOS,"Rua Helio Gracie, 19 78901-345",11 93333-4567,78901-345
9,FELIPE MARTINS,"Av. 28 de Novembro, 221 89012-456",11 92222-7890,89012-456
10,AMANDA PEREIRA,Rua Joana 423 90123-567,11 91111-2345,90123-567
11,RAFAELA LIMA,"Av. Brasil, 245 01234-567",11 90000-5678,01234-567
12,EDUARDO SILVA,"Rua do Lamparao, 2627 12345-678",11 98888-9012,12345-678
13,GUSTAVO RODRIGUES,"Rua do Chuvisco , 2829 23456-789",11 97777-2345,23456-789
14,FERNANDA COSTA,"Av. Goytacaz, 3031 34567-890",11 96666-5678,34567-890
15,RENATO SANTOS,"Av. Areia Negra, 45678-912 3233",11 95555-9012,45678-912
16,LETÍCIA RIBEIRO,"Rua das Palmeiras, 3435 56789-123",11 94444-2345,56789-123
17,MARIA SILVA,"Av. Oliva, 3637 67890-234",11 93333-5678,67890-234
18,ISABELA OLIVEIRA,"Rua Peri , 339 78901-345",11 92222-9012,78901-345
19,BRUNO COSTA,Av. Balestrin 1337 89012-456,11 91111-2345,89012-456
20,VANESSA SANTOS,"Rua Nicolau Copérnico, 90123-567 1543",11 90000-5678,90123-567

In [50]:
df.endereco.str.replace('\d{5}-\d{3}', '', regex=True)

0           Rua 22 de Abril,  1234
1       Rua Alvarenga Borges, 573
2            Av. Bom Sucesso 1283
3                Rua Colombo, 789
4             Rua Dinamarca, 1011
5               Av. Ermeson,  1213
6              Rua das Flores, 15
7            Av. Governador, 1617
8            Rua Helio Gracie, 19
9         Av. 28 de Novembro, 221
10                  Rua Joana 423
11                Av. Brasil, 245
12          Rua do Lamparao, 2627
13         Rua do Chuvisco , 2829
14             Av. Goytacaz, 3031
15          Av. Areia Negra,  3233
16        Rua das Palmeiras, 3435
17                Av. Oliva, 3637
18                 Rua Peri , 339
19             Av. Balestrin 1337
20    Rua Nicolau Copérnico,  1543
Name: endereco, dtype: object

In [51]:
df['endereco'] = df.endereco.str.replace(r'\d{5}-\d{3}', '', regex=True).str.strip()

In [53]:
df

                 nome                      endereco       telefone        cep
0        PAULO HAMMER        Rua 22 de Abril,  1234  11 99548-2578  52614-524
1      JONAS DA SILVA     Rua Alvarenga Borges, 573  11 99999-1234  29285-678
2        MARIA SANTOS          Av. Bom Sucesso 1283  11 98765-4321  87654-321
3   PEDRO ALBUQUERQUE              Rua Colombo, 789  11 91234-5678  45678-912
4        ANA OLIVEIRA           Rua Dinamarca, 1011  11 99876-5432  34567-890
5      JOSÉ FERNANDES            Av. Ermeson,  1213  11 97654-3210  23456-789
6     MARIANA CASTRO             Rua das Flores, 15  11 95555-6789  56789-123
7         LUCAS SOUZA          Av. Governador, 1617  11 94444-5678  67890-234
8        CARLA SANTOS          Rua Helio Gracie, 19  11 93333-4567  78901-345
9      FELIPE MARTINS       Av. 28 de Novembro, 221  11 92222-7890  89012-456
10     AMANDA PEREIRA                 Rua Joana 423  11 91111-2345  90123-567
11       RAFAELA LIMA               Av. Brasil, 245  11 90000-5678  01234-567
12      EDUARDO SILVA         Rua do Lamparao, 2627  11 98888-9012  12345-678
13  GUSTAVO RODRIGUES        Rua do Chuvisco , 2829  11 97777-2345  23456-789
14     FERNANDA COSTA            Av. Goytacaz, 3031  11 96666-5678  34567-890
15      RENATO SANTOS        Av. Areia Negra,  3233  11 95555-9012  45678-912
16    LETÍCIA RIBEIRO       Rua das Palmeiras, 3435  11 94444-2345  56789-123
17        MARIA SILVA               Av. Oliva, 3637  11 93333-5678  67890-234
18   ISABELA OLIVEIRA                Rua Peri , 339  11 92222-9012  78901-345
19        BRUNO COSTA            Av. Balestrin 1337  11 91111-2345  89012-456
20     VANESSA SANTOS  Rua Nicolau Copérnico,  1543  11 90000-5678  90123-567

# Criar uma coluna para Rua

In [55]:
df.endereco.str.split('\s(?=\d+$)', expand=True)

                          0     1
0         Rua 22 de Abril,   1234
1     Rua Alvarenga Borges,   573
2           Av. Bom Sucesso  1283
3              Rua Colombo,   789
4            Rua Dinamarca,  1011
5             Av. Ermeson,   1213
6           Rua das Flores,    15
7           Av. Governador,  1617
8         Rua Helio Gracie,    19
9       Av. 28 de Novembro,   221
10                Rua Joana   423
11              Av. Brasil,   245
12         Rua do Lamparao,  2627
13        Rua do Chuvisco ,  2829
14            Av. Goytacaz,  3031
15        Av. Areia Negra,   3233
16       Rua das Palmeiras,  3435
17               Av. Oliva,  3637
18               Rua Peri ,   339
19            Av. Balestrin  1337
20  Rua Nicolau Copérnico,   1543

In [59]:
df.endereco.str.replace(',', '').str.split('\s(?=\d+$)', expand=True)

                         0     1
0         Rua 22 de Abril   1234
1     Rua Alvarenga Borges   573
2          Av. Bom Sucesso  1283
3              Rua Colombo   789
4            Rua Dinamarca  1011
5             Av. Ermeson   1213
6           Rua das Flores    15
7           Av. Governador  1617
8         Rua Helio Gracie    19
9       Av. 28 de Novembro   221
10               Rua Joana   423
11              Av. Brasil   245
12         Rua do Lamparao  2627
13        Rua do Chuvisco   2829
14            Av. Goytacaz  3031
15        Av. Areia Negra   3233
16       Rua das Palmeiras  3435
17               Av. Oliva  3637
18               Rua Peri    339
19           Av. Balestrin  1337
20  Rua Nicolau Copérnico   1543

In [60]:
df[['rua', 'numero']] = df.endereco.str.replace(',', '').str.split('\s(?=\d+$)', expand=True)

In [61]:
df

,nome,endereco,telefone,cep,rua,numero
0,PAULO HAMMER,"Rua 22 de Abril, 1234",11 99548-2578,52614-524,Rua 22 de Abril,1234
1,JONAS DA SILVA,"Rua Alvarenga Borges, 573",11 99999-1234,29285-678,Rua Alvarenga Borges,573
2,MARIA SANTOS,Av. Bom Sucesso 1283,11 98765-4321,87654-321,Av. Bom Sucesso,1283
3,PEDRO ALBUQUERQUE,"Rua Colombo, 789",11 91234-5678,45678-912,Rua Colombo,789
4,ANA OLIVEIRA,"Rua Dinamarca, 1011",11 99876-5432,34567-890,Rua Dinamarca,1011
5,JOSÉ FERNANDES,"Av. Ermeson, 1213",11 97654-3210,23456-789,Av. Ermeson,1213
6,MARIANA CASTRO,"Rua das Flores, 15",11 95555-6789,56789-123,Rua das Flores,15
7,LUCAS SOUZA,"Av. Governador, 1617",11 94444-5678,67890-234,Av. Governador,1617
8,CARLA SANTOS,"Rua Helio Gracie, 19",11 93333-4567,78901-345,Rua Helio Gracie,19
9,FELIPE MARTINS,"Av. 28 de Novembro, 221",11 92222-7890,89012-456,Av. 28 de Novembro,221
10,AMANDA PEREIRA,Rua Joana 423,11 91111-2345,90123-567,Rua Joana,423
11,RAFAELA LIMA,"Av. Brasil, 245",11 90000-5678,01234-567,Av. Brasil,245
12,EDUARDO SILVA,"Rua do Lamparao, 2627",11 98888-9012,12345-678,Rua do Lamparao,2627
13,GUSTAVO RODRIGUES,"Rua do Chuvisco , 2829",11 97777-2345,23456-789,Rua do Chuvisco,2829
14,FERNANDA COSTA,"Av. Goytacaz, 3031",11 96666-5678,34567-890,Av. Goytacaz,3031
15,RENATO SANTOS,"Av. Areia Negra, 3233",11 95555-9012,45678-912,Av. Areia Negra,3233
16,LETÍCIA RIBEIRO,"Rua das Palmeiras, 3435",11 94444-2345,56789-123,Rua das Palmeiras,3435
17,MARIA SILVA,"Av. Oliva, 3637",11 93333-5678,67890-234,Av. Oliva,3637
18,ISABELA OLIVEIRA,"Rua Peri , 339",11 92222-9012,78901-345,Rua Peri,339
19,BRUNO COSTA,Av. Balestrin 1337,11 91111-2345,89012-456,Av. Balestrin,1337
20,VANESSA SANTOS,"Rua Nicolau Copérnico, 1543",11 90000-5678,90123-567,Rua Nicolau Copérnico,1543

In [65]:
# axis=1 , as colunas serão removidas
# axis=2 , as linhas serão removidas 

df = df.drop(['endereco'], axis=1)
df

                 nome       telefone        cep                     rua numero
0        PAULO HAMMER  11 99548-2578  52614-524        Rua 22 de Abril    1234
1      JONAS DA SILVA  11 99999-1234  29285-678    Rua Alvarenga Borges    573
2        MARIA SANTOS  11 98765-4321  87654-321         Av. Bom Sucesso   1283
3   PEDRO ALBUQUERQUE  11 91234-5678  45678-912             Rua Colombo    789
4        ANA OLIVEIRA  11 99876-5432  34567-890           Rua Dinamarca   1011
5      JOSÉ FERNANDES  11 97654-3210  23456-789            Av. Ermeson    1213
6     MARIANA CASTRO   11 95555-6789  56789-123          Rua das Flores     15
7         LUCAS SOUZA  11 94444-5678  67890-234          Av. Governador   1617
8        CARLA SANTOS  11 93333-4567  78901-345        Rua Helio Gracie     19
9      FELIPE MARTINS  11 92222-7890  89012-456      Av. 28 de Novembro    221
10     AMANDA PEREIRA  11 91111-2345  90123-567               Rua Joana    423
11       RAFAELA LIMA  11 90000-5678  01234-567              Av. Brasil    245
12      EDUARDO SILVA  11 98888-9012  12345-678         Rua do Lamparao   2627
13  GUSTAVO RODRIGUES  11 97777-2345  23456-789        Rua do Chuvisco    2829
14     FERNANDA COSTA  11 96666-5678  34567-890            Av. Goytacaz   3031
15      RENATO SANTOS  11 95555-9012  45678-912        Av. Areia Negra    3233
16    LETÍCIA RIBEIRO  11 94444-2345  56789-123       Rua das Palmeiras   3435
17        MARIA SILVA  11 93333-5678  67890-234               Av. Oliva   3637
18   ISABELA OLIVEIRA  11 92222-9012  78901-345               Rua Peri     339
19        BRUNO COSTA  11 91111-2345  89012-456           Av. Balestrin   1337
20     VANESSA SANTOS  11 90000-5678  90123-567  Rua Nicolau Copérnico    1543

# Salvando uma nova versão do dataframe tratado em um arquivo csv

In [66]:
df.to_csv('../data/banco_clientes_editado.csv')